{% extends 'layout/main.html' %}
{% load static %}
{% block body %}
{% for i in a%}
<section class="product-details-section">
  <div class="container">
    <div class="product-wrapper">
      <div class="image-container">
        <img src="{{i.product_image.url}}"/>
      </div>
      <div class="details-container">
        <h1>{{ i.name }}</h1>
        <p class="description">{{ i.description }}</p>
        <div class="price">
          <span class="selling-price">₹{{ i.selling_price }}</span>
          <span class="original-price">₹{{ i.original_price }}</span>
        </div>
        <p class="quantity">Available Stock: {{ i.quantity }}</p>
        <button class="btn add-to-cart">Add to Cart</button>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock body %}
